.App {
    text-align: left;
}

.resultPanels {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-top: 10px;
}

.tokenizerPanel {
    grid-row: 1;
}
.perserrPanel {
    grid-row: 2;
}
.resultPanel {
    grid-row: 3;
}
