div.parsedItems-container {
    display: flex;
    flex-direction: row;
}

div.binaryNode-container {
    display: flex;
    flex-direction: row;
    gap: 5px;
    border: 2px dotted black;
    border-radius: 3px;
}

div.binaryNode-operator {
    background-color: lightcyan;
    padding: 5px;
}
div.binaryNode-left {
    padding: 5px;
}
div.binaryNode-right {
    padding: 5px;
}

div.parenNode-container {
    display: flex;
    flex-direction: row;
    gap: 5px;
    background-color: lightsalmon;
    padding: 5px;
}
